*{
    margin: 0;
}
.nav_ {
    width: 100%;
    background-color: #a8cddc;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    box-shadow: 10px 10px 5px #aaaaaa53;

  }
  
  .nav_ a {
    float: left;
    padding: 12px;
    color: rgb(16, 13, 13);
    text-decoration: none;
    font-size: 17px;
  }

  .nav_ a:hover{
   opacity: 50%;
  }
  
  .nav_ img{
    width:150px;
  }

  .image{
    background-image: url('./microsoft-azure_2.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;

  }

  .image h1{
    text-align: center;
    color: rgba(184, 212, 211,1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial sans-serif';
    font-weight: bolder;
    padding-top: 10%;
    padding-right: 75%;
    /* padding-left: 15%; */
    font-size: 80px;
  }

  hr {
    border: 1px solid #353131;
    margin-bottom: 25px;
  }
  
  .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin: 0;
    /* background-image: linear-gradient(rgba(16, 94, 229, 0.502),rgba(130, 130, 170, 0.53)); */
  }
  
  .info img{
    width: 600px;
  }
  
  .info p span{
    text-shadow: 2px 4px 4px rgb(201, 189, 189);
    font-weight: bolder;
  }
  
  .info p{
    text-align: justify;
    /* word-spacing: 1rem; */
    
  }
  
  .info hr{
    width: 200px;
    height: 5px ;
    background-color: #0f4ecb;
  }

  .video{
    margin: 65px 166px 40px 166px;
    /* border:2px double blue; */
    padding: 2rem;
    border-radius: 20px;
    /* background-color: rgba(0, 255, 255, 0.064); */
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.video hr{
  width: 200px;
    height: 5px ;
    background-color: #0f4ecb;
    margin-left: 100px;
}
.video h1{
  text-shadow: 2px 4px 4px rgb(201, 189, 189);
}
.video iframe{
  padding: 2rem;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(rgba(32, 14, 227, 0.66),rgba(16, 16, 28, 0.541));
  color: #fff;
  padding: 2rem;
}
.footer a{
  color: white;
}
.footer .getin{
  width: 25ch;
}


.title {
  color: grey;
  font-size: 18px;
}
.card_list{
  box-shadow: 0 4px 8px 0 rgba(184, 18, 18, 0.2);
  text-align: center;
  font-family: arial;
  margin: 2rem;
  padding: 2rem;
  border: 2px double blue;
  border-radius: 20px;
  /* background-color: rgba(0, 255, 255, 0.064); */
  display:grid;
  grid-template-columns: repeat(2,1fr);
  flex-direction: row;
  gap: 20px;

}
.card_list .cris{
  /* border: 3px solid black; */
  text-align: center;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 10px;
}


button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #05528b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
button:hover{
  
  background-color: #413b3b;
}
.youtube{
   margin: 65px 166px 40px 166px;
    /* border:2px double blue; */
    padding: 2rem;
    border-radius: 20px;
    /* background-color: rgba(0, 255, 255, 0.064); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube hr{
    width: 200px;
    text-align: center;
    height: 5px ;
    background-color: #0f4ecb;
    margin-left: 100px;
}
.youtube h1{
  text-shadow: 2px 4px 4px rgb(201, 189, 189);
}

.partner{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.partner  img{
  width:150px;
}
.partner  hr{
  width: 100px;
  text-align: center;
  height: 5px ;
  background-color: #0f4ecb;
  margin-left: 50px;
}
.partner  h1{
  text-shadow: 2px 4px 4px rgb(201, 189, 189);
}

.client{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.client  img{
  width:150px;
}
.client  hr{
  width: 100px;
  text-align: center;
  height: 5px ;
  background-color: #0f4ecb;
  margin-left: 50px;
}
.client  h1{
  text-shadow: 2px 4px 4px rgb(201, 189, 189);
}


 
@media screen and (max-width:680px) {
  body{
    font-size: 2px;
  }

  .nav_ a {
    font-size:556%;
  }

  .image h1{
    font-size: 40px;
  }

  .info{
    font-size: 25px;
    flex-direction: column;
  }

  .info img{
    margin-top: 40px;
    width: 250px;
  }

  .video{
    flex-direction: column;
  }

  .cust_{
    font-size: 20px;
  }

  .youtube{
     font-size: 15px;
     display: flex;
     justify-self: center;
     align-items: center;
     flex-direction: column;
  }

  .ytvid video{
     height: 250px;
     width: 400px;
  }
  .card_list{
    font-size: 10px;
  }
  .partner{
    font-size: 20px;
  }
  .partner img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100px;
    
  }
   
  .client{
    font-size: 20px;
  }
  .client img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100px;
    
  }
  .footer{
    font-size: 10px;
  }
}